
.celda{
  border-color: black;
  width: 30px;
  height: 30px;
  margin: 1.50px;
  background-color: #111111;
}
#panel{
  border: 1px solid rgb(255, 255, 255);
  width: 300px;
  border-radius: 15px;
  padding: 4px;
}
.p-fila{
  display: flex;
  background-color: rgb(32, 30, 30);
}
.boton{
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 6%;
  padding-bottom: 6%;
}
